doctype html
html
  body
    .nav.nav-bar.navbar-default
      .container-fluid
        .navbar-header
          .ul.nav.navbar-nav
            li
              a(href="/") Home
            li
              a(href="/contact") Contact
            li
              a(ref="/guestlist") Taxi Cab

    block content
