<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/home_screen.css">
    <% include ../partials/head %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="window">
      <% include ../partials/navbar %>
      <div class="content">
        <input id="searchTextField" type="text" size="50" placeholder="Where to?">
        <div id="map"></div>
        <div id="confirmation">
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/home_screen.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkbp81Z7CmHOsFY1eHa0sxzcdJkV6Sy18&libraries=places&callback=initialize">
  </script>
  <!-- <script type="text/javascript" src="/js/index.js"></script> -->
  <script type="text/javascript" src="js/index.js"></script>
  <!-- TODO -->
  <!-- Restrict API KEY -->

</html>
