<html>
  <head>

    <link rel="stylesheet" href="/stylesheets/home_screen.css">
    <% include ../partials/head %>
  </head>
  <body>
    <div class="window">
      <% include ../partials/navbar %>
      <div class="content">
        <div id="map"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <!-- TODO -->
  <!-- Restrict API KEY -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkbp81Z7CmHOsFY1eHa0sxzcdJkV6Sy18&callback=initMap"
  type="text/javascript"></script>
</html>
